<!-- Optional additional links to insert for icons links -->

<a
  id="subscribe-link"
  class="icon"
  title="Github"
  aria-label="Github"
  href="https://github.com/LaardCommunity"
>
  {% include svg/github.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="X"
  aria-label="X"
  href="https://x.com/LAARD_community"
>
  {% include svg/twitter.svg %}
</a>
-----
<a
  id="subscribe-link"
  class="icon"
  title="Facebook"
  aria-label="Facebook"
  href=""
>
  {% include svg/feed.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Instagram"
  aria-label="Instagram"
  href=""
>
  {% include svg/feed.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Bluesky"
  aria-label="Bluesky"
  href=""
>
  {% include svg/feed.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Youtube"
  aria-label="Youtube"
  href=""
>
  {% include svg/feed.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="LinkedIn"
  aria-label="LinkedIn"
  href=""
>
  {% include svg/feed.svg %}
</a>
<!-- Optional additional links to insert for icons links -->
