<div id="sidebar" style="height:100%">
 
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        <a href="/">
  <img src="/assets/media/LOGO3.png" alt="LAARD Community" class="center" role="log"/>
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>

<a href="/about">About</a> 
<a href="/Events">Events</a>
<a href="/Steering-Committee">Steering Committee</a>
<a href="/Constitution">Constitution</a>
<a href="/Code-of-Conduct">Code of Conduct</a>
<a href="/Support-Aknowledgements">Acknowledgements</a>



  
  </nav>
  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  <p class='copyright'> &copy; {{ site.time | date: '%Y' }}.
  <a href="{{ "/LICENSE.md" | relative_url }}">MIT License.</a>
</div>
